################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LeetCode/.vs
/LeetCode/LeetCode/bin/Debug/net8.0
/LeetCode/LeetCode/obj
/108- Convert Sorted Array to Binary Search Tree/.vs/108- Convert Sorted Array to Binary Search Tree
/108- Convert Sorted Array to Binary Search Tree/108- Convert Sorted Array to Binary Search Tree/obj
/LeetCode501/.vs/LeetCode501
/LeetCode501/LeetCode501/bin/Debug/net8.0
/LeetCode501/LeetCode501/obj
/LeetCode501/LeetCode501
/LeetCode501
/leetcode653/obj
/leetcode653/bin/Debug/net8.0
/Leetcode783/.vs/Leetcode783
/Leetcode783/Leetcode783/bin/Debug/net8.0
/Leetcode783/Leetcode783/obj
/Leetcode938/.vs
/Leetcode938/Leetcode938/bin/Debug/net8.0
/Leetcode938/Leetcode938/obj
/108- Convert Sorted Array to Binary Search Tree/.vs/ProjectEvaluation
/Leetcode783/Leetcode703/bin/Debug/net8.0
/Leetcode783/Leetcode703/obj
/leetcode897/bin/Debug/net8.0
/leetcode897/obj
/Leetcode783/.vs/ProjectEvaluation
/leetcode1046/bin/Debug/net8.0
/leetcode1046/obj
/leetcode1464/bin/Debug/net8.0
/leetcode1464/obj
/leetcode215/bin/Debug/net8.0
/leetcode215/obj
/leetcode2231/bin/Debug/net8.0
/leetcode2231/obj
/leetcode23/bin/Debug/net8.0
/leetcode23/obj
/leetcode2335/bin/Debug/net8.0
/leetcode2335/obj
/leetcode2357/bin/Debug/net8.0
/leetcode2357/obj
/leetcode264/bin/Debug/net8.0
/leetcode264/obj
/leetcode2974/.vs
/leetcode2974/leetcode2974/bin/Debug/net8.0
/leetcode2974/leetcode2974/obj
/leetcode3264/bin/Debug/net8.0
/leetcode3264/obj
/Leetcode783/Leetcode703
/leetcode120/.vs
/leetcode120/leetcode120/bin/Debug/net8.0
/leetcode120/leetcode120/obj
/leetcode139/bin/Debug/net8.0
/leetcode139/obj
/leetcode14/.vs/leetcode14
/leetcode14/leetcode14/bin/Debug/net8.0
/leetcode14/leetcode14/obj
/leetcode208/bin/Debug/net8.0
/leetcode208/obj
/leetcode211/bin/Debug/net8.0
/leetcode211/leetcode211.csproj
/leetcode211/obj
/leetcode2932/bin/Debug/net8.0
/leetcode2932/obj
/leetcode3042/bin/Debug/net8.0
/leetcode3042/obj
/leetcode3045/bin/Debug/net8.0
/leetcode3045/obj
/leetcode1053/bin/Debug/net8.0
/leetcode1053/obj
/leetcode133/obj
/leetcode14/.vs/ProjectEvaluation
/leetcode15/obj
/leetcode16/obj
/leetcode1791/obj
/leetcode18/obj
/leetcode1971/obj
/leetcode2242/obj
/leetcode303/obj
/leetcode31/obj
/leetcode349/obj
/leetcode45/bin/Debug/net8.0
/leetcode45/obj
/leetcode455/obj
/leetcode46/obj
/leetcode485/obj
/leetcode55/bin/Debug/net8.0
/leetcode55/obj
/leetcode849/bin/Debug/net8.0
/leetcode849/obj
/leetcode997/.vs
/leetcode997/leetcode997/obj
/CountingSort/bin/Debug/net8.0
/CountingSort/obj
/CountingSort/CountingSort.csproj
/leetcode33/leetcode33/obj
/leetcode33/.vs
/leetcode34/bin/Debug/net8.0
/leetcode34/obj
/MergeSort/obj
/QuickSort/.vs/QuickSort
/QuickSort/QuickSort/bin/Debug/net8.0
/QuickSort/QuickSort/obj
/usacoTasks/.vs
/usacoTasks/leetcode56/bin/Debug/net8.0
/usacoTasks/leetcode56/obj
