################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LeetCode/.vs
/LeetCode/LeetCode/bin/Debug/net8.0
/LeetCode/LeetCode/obj
